{% extends "layout.html" %}
{% block title %}หน้าหลัก{% endblock %}
{% block hashtag %}ข้อความจากการทวีตด้วย #{{tweet_counts.data[0]}} {% endblock %}
{% block pagename %}จำนวนข้อความ {{tweet_counts.data[1]}} ข้อความ ณ วันที่ {{tweet_counts.data[2]}}{% endblock %}
{% block content %}
<!-- กล่อง 4 กล่อง -->
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-chalkboard-teacher"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{tweet_counts.labels[0]}}</span>
                <span class="info-box-number">จำนวน {{tweet_counts.count[0]}} ข้อความ</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i
                    class="fas fa-hand-holding-medical text-white"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{tweet_counts.labels[1]}}</span>
                <span class="info-box-number">จำนวน {{tweet_counts.count[1]}} ข้อความ</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-book"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{tweet_counts.labels[2]}}</span>
                <span class="info-box-number">จำนวน {{tweet_counts.count[2]}} ข้อความ</span>
            </div>
        </div>

    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-user-shield"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">{{tweet_counts.labels[3]}}</span>
                <span class="info-box-number">จำนวน {{tweet_counts.count[3]}} ข้อความ</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>
<!-- กล่อง 4 กล่อง -->

<!-- Chart แสดงภาพรวม -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">กระดานสรุปข้อมูล</h5>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>

                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart">
                            <canvas id="pieChart" height="120" style="height: 120px;"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info-box mb-1 mt-3 bg-danger">
                            <span class="info-box-icon"><i class="fas fa-chalkboard-teacher"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{tweet_counts.labels[0]}}</span>
                                <span class="info-box-number">คิดเป็น {{'%0.2f' |
                                    format((tweet_counts.count[0]*100)/tweet_counts.data[1])}}%</span>
                            </div>
                        </div>
                        <div class="info-box mb-1 bg-warning text-white">
                            <span class="info-box-icon"><i class="fas fa-hand-holding-medical text-white"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{tweet_counts.labels[1]}}</span>
                                <span class="info-box-number">คิดเป็น {{'%0.2f' |
                                    format((tweet_counts.count[1]*100)/tweet_counts.data[1])}}%</span>
                            </div>
                        </div>
                        <div class="info-box mb-1 bg-info">
                            <span class="info-box-icon"><i class="fas fa-book"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{tweet_counts.labels[2]}}</span>
                                <span class="info-box-number">คิดเป็น {{'%0.2f' |
                                    format((tweet_counts.count[2]*100)/tweet_counts.data[1])}}%</span>
                            </div>
                        </div>
                        <div class="info-box mb-1 bg-success ">
                            <span class="info-box-icon"><i class="fas fa-user-shield"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text">{{tweet_counts.labels[3]}}</span>
                                <span class="info-box-number">คิดเป็น {{'%0.2f' |
                                    format((tweet_counts.count[3]*100)/tweet_counts.data[1])}}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer">
                <div class="col-md-12 text-center mt-2 mb-2">
                    
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- Chart แสดงภาพรวม -->

<div class="row">
    <!-- Chart 1 -->
    {% for i in range(4) %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">การวิเคราะห์ความรู้สึก{{tweet_sentiment[i]['topic']}}จำนวน
                    {{'%d' |
                    format(tweet_sentiment[i]['sentiment'][0]+tweet_sentiment[i]['sentiment'][1]+tweet_sentiment[i]['sentiment'][2])}}
                    ข้อความ</h5>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="chart">
                            <canvas id="barChart-{{i}}" height="120" style="height: 120px;"></canvas>
                            <div class="row">
                                <div class="col-md-4"><button class="btn btn-dark container-fluid" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#positive-{{i}}"
                                        aria-expanded="false">
                                        ข้อความด้านบวก
                                    </button></div>
                                <div class="col-md-4"><button class="btn btn-dark container-fluid" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#neutral-{{i}}" aria-expanded="false">
                                        ข้อความเป็นกลาง
                                    </button></div>
                                <div class="col-md-4"><button class="btn btn-dark container-fluid" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#negative-{{i}}"
                                        aria-expanded="false">
                                        ข้อความด้านลบ
                                    </button></div>
                            </div>
                            <div class="collapse" id="positive-{{i}}">
                                <div class="card card-body mt-3 bg-white">
                                    <b>ตัวอย่างข้อความด้านบวก</b>
                                    <ul>
                                        {% for t in topic_texts[i][2] %}
                                                <li>
                                                    {{t['predict_value']['text']}}
                                                </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="collapse" id="neutral-{{i}}">
                                <div class="card card-body mt-3 bg-white">
                                    <b>ตัวอย่างข้อความเป็นกลาง</b>
                                    <ul>
                                        {% for t in topic_texts[i][1] %}
                                                <li>
                                                    {{t['predict_value']['text']}}
                                                </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="collapse" id="negative-{{i}}">
                                <div class="card card-body mt-3 bg-white">
                                    <b>ตัวอย่างข้อความด้านลบ</b>
                                    <ul>
                                        {% for t in topic_texts[i][0] %}
                                                <li>
                                                    {{t['predict_value']['text']}}
                                                </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer col-md-12 text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="description-block border-right">
                            <span class="description-percentage text-success h5"><i class="far fa-laugh-beam"></i>
                                {{'%0.2f' |
                                format((tweet_sentiment[i]['sentiment'][2]*100)/(tweet_sentiment[i]['sentiment'][0]+tweet_sentiment[i]['sentiment'][1]+tweet_sentiment[i]['sentiment'][2]))}}%</span>
                            <h5 class="description-header">จำนวน {{'%d'| format(tweet_sentiment[i]['sentiment'][2])}} ข้อความ</h5>
                            <span class="description-text">POSITIVE (ด้านบวก)</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="description-block border-right">
                            <span class="description-percentage text-info h5"><i class="far fa-meh"></i>
                                {{'%0.2f' |
                                format((tweet_sentiment[i]['sentiment'][1]*100)/(tweet_sentiment[i]['sentiment'][0]+tweet_sentiment[i]['sentiment'][1]+tweet_sentiment[i]['sentiment'][2]))}}%</span>
                            <h5 class="description-header">จำนวน {{'%d'| format(tweet_sentiment[i]['sentiment'][1])}} ข้อความ</h5>
                            <span class="description-text">NEUTRAL (เป็นกลาง)</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="description-block">
                            <span class="description-percentage text-danger h5"><i class="far fa-frown"></i>
                                {{'%0.2f' |
                                format((tweet_sentiment[i]['sentiment'][0]*100)/(tweet_sentiment[i]['sentiment'][0]+tweet_sentiment[i]['sentiment'][1]+tweet_sentiment[i]['sentiment'][2]))}}%</span>
                            <h5 class="description-header">จำนวน {{'%d'| format(tweet_sentiment[i]['sentiment'][0])}} ข้อความ</h5>
                            <span class="description-text">NEGATIVE (ด้านลบ)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endfor %}


    <!-- Chart 1 -->

</div>


<script>
    var ctxChart = $("#pieChart").get(0).getContext('2d')
    var pieData = {
        labels: [{% for l in tweet_counts.labels %} '{{ l }}', {% endfor %}],
    datasets: [{
        data: [{% for c in tweet_counts.count %} {{ c }}, {% endfor %}],
        backgroundColor: ['#DC3545', '#f39c12', '#00c0ef', '#00a65a']
        }]
    }
    var pieOptions = {
        legend: {
            display: false,
            position: 'right',
        },

    }
    var pieChart = new Chart(ctxChart, {
        type: 'doughnut',
        data: pieData,
        options: pieOptions
    })



    {%for i in range(4)%} 
    var ctxChartBarChart{{i}} = $("#barChart-{{i}}").get(0).getContext('2d')
    var barData = {
        labels: [
            'POSITIVE (ด้านบวก)', 'NEUTRAL (เป็นกลาง)', 'NEGATIVE (ด้านลบ)'
            ],
    datasets: [{
        data: [
            {{tweet_sentiment[i]['sentiment'][2]}},
            {{tweet_sentiment[i]['sentiment'][1]}},
            {{tweet_sentiment[i]['sentiment'][0]}},
            
        ],
        backgroundColor: ['#28A745', '#17A2B8', '#DC3545']
        }]
    }

    var barChart{{i}} = new Chart(ctxChartBarChart{{i}}, {
        type: 'bar',
        data: barData,
        options: pieOptions
    })

    {%endfor%}
</script>
{% endblock %}